@import "~draft-js/dist/Draft.css";

.RichTextEditor__editor {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

.RichTextEditor__editor .public-DraftEditorPlaceholder-root {
  color: #999;
}

.RichTextEditor__editor .public-DraftEditorPlaceholder-hasFocus {
  color: #ddd;
}
